.user--center {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.user--info > h2{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}
.user--info > h4{
    text-align: center;
    font-weight: 400;
}
.user--info > ul{
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    margin-top: 44px;
}
.user--info > ul li{
    border-bottom: 1px solid #D3D3D3;
    padding: 30px 50px;
    display: flex;
    align-items: center;
}
.user--info > ul li:first-of-type{
    justify-content: space-between;
}
.user--info > ul li:last-of-type{
    border-bottom: none;
}
.user--info > ul li h3{
    font-size: 24px;
    margin-bottom: 5px;
}
.user--info > ul li a{
    border: 1px solid #828282;
    border-radius: 12px;
    width: 95px;
    height: 38px;
    font-size: 16px;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user--info > ul li p{
    width: 40%;
    font-size: 13px;
    color: #BDBDBD;
    display: flex;
    align-items: center;
}
.user--info > ul li strong{
    color: #333333;
    font-size: 18px;
}
.user--info > ul li img{
    width: 72px;
    border-radius: 8px;
}
.user--info > ul li:first-of-type p{
    width: auto;
    color: #828282;
}

@media (max-width: 768px ) {
    .user--center {
        width:100%;
    }
    .user--info > h2 {
        margin-top: 25px;
        font-size: 24px;
    }

    .user--info > h4 {
        font-size: 14px;
    }

    .user--info ul {
        border: none;
    }
    .user--info ul li{
        padding: 30px 0;
        justify-content: space-between;
    }

}
