<ul>
    <li>
        <span>
            <h3>Profile</h3>
            <p>Some info may be visible to other people</p>
        </span>
        <a href="/edit">Edit</a>
    </li>

    <li>
        <p>PHOTO</p>
        <img src="/assets/imgs/[[PHOTO]].png" />
    </li>
    <li>
        <p>NAME</p>
        <strong>[[NAME]]</strong>
    </li>

    <li>
        <p>BIO</p>
        <strong>[[BIO]]</strong>
    </li>
    <li>
        <p>PHONE</p>
        <strong>[[PHONE]]</strong>
    </li>
    <li>
        <p>EMAIL</p>
        <strong>[[EMAIL]]</strong>
    </li>
    <li>
        <p>PASSWORD</p>
        <strong>[[PASSWORD]]</strong>
    </li>
</ul>
